/*Setting up custom properties to establish a uniform color theme throughout the webpage*/
:root {
  --background: #141479;
  --text: lightskyblue;
  --border: deepskyblue;
}

* {
  box-sizing: border-box;
}

/*Establishing uniform font, general background color, and size of the webpage*/
body {
  background-color: azure;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/*Spacing out the header so that my name is all the way to the left and the nav bar will be all the way to the right*/
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background);
  color: var(--text);
}

/*Resizing avatar to fit in header*/
header img {
  height: 100px;
  width: auto;
}

header nav {
  display: flex;
}

/*Removing the bullet points in the unordered list*/
header nav ul {
  display: flex;
  list-style-type: none;
}

/*Adjusting the font size and space between the list items for better readability*/
header nav ul li {
  font-size: x-large;
  margin: 10px;
}

/*Removing the underline on the nav bar anchors and setting the permanent color to light sky blue*/
li a {
  text-decoration: none;
  color: lightskyblue;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  margin: 1% 1% 1% 10%;
}

/*Setting article's position to relative in order to move the label into the element below*/
article {
  position: relative;
}

h3 {
  margin: 10px 20px 2.5px 0px;
}

/*Moving the about section to the side of the webpage*/
aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-top: 5px solid var(--border);
}

/*Adjusting size and position of the label for projects so it sits within the background image and isn't intrusive*/
.workLabel {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  left: 15px;
  padding: 0px 15px;
  margin: 0px;
  width: auto;
  background-color: var(--border);
  border: 2px solid var(--text);
  color: black;
}

.workLabel p {
  margin: 2.5px 20px 10px 0px;
}

.work {
  display: flex;
  justify-content: start;
  width: 100%;
}

.workBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-left: 5px solid var(--border);
  padding-left: 5px;
  width: 85%;
}

/*Splitting projects 2-5 into another class in order to resize them into a smaller grid*/
.workGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.workGrid a {
  width: 50%;
  min-width: 350px;
}

#workPrimary {
  min-width: 650px;
}

#contactInfo a {
  font-size: 20px;
  margin: 0 40px;
}

#work {
  margin: 15px;
  font-size: 300%;
}

/*Setting up the first project's size and ability to utilize the opacity transition when hovered over*/
#projectOne {
  background: linear-gradient(to left, var(--border), var(--background));
  border: 2px solid var(--text);
  width: auto;
  height: 450px;
  min-width: 200px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

/*Setting up the size and ability to utilize the opacity transition when hovered over for projects 2-5*/
#projectTwo,
#projectThree,
#projectFour,
#projectFive {
  background: linear-gradient(to left, var(--border), var(--background));
  border: 2px solid var(--text);
  width: auto;
  height: 200px;
  min-width: 100px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

/*Setting up the background image for the transition and adjusting opacity for slight visibility of the image*/
#projectOne::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  background-image: url(./rockpaperscissors.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--text);
}

#projectTwo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  background-image: url(./calculator.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--text);
}

#projectThree::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  background-image: url(./genericcodingone.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--text);
}

#projectFour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  background-image: url(./genericcodingtwo.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--text);
}

#projectFive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  background-image: url(./matrix.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--text);
}

/*Background image will transition into a clear image*/
#projectOne:hover::before,
#projectTwo:hover::before,
#projectThree:hover::before,
#projectFour:hover::before,
#projectFive:hover::before {
  opacity: 1;
}

/* Centering and creating a dividing border on the bottom of the header for the About Me sidebar */
#about {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid var(--border);
  padding-bottom: 15px;
  margin: 0px 15px;
}

/*Change main flex direction to column-reverse for smaller screens*/
@media screen and (max-width: 992px) {
  main {
    flex-direction: column-reverse;
    margin: 1%;
  }
  aside {
    max-width: 100%;
  }
}
